

<!-- Mostrar el header solo si el usuario está autenticado y no estamos en login -->
<app-header *ngIf="isAuthenticated && !isLoginPage"></app-header>

<!-- Contenido solo si no estamos en login -->
<div class="content" *ngIf="!isLoginPage">
  <div *ngIf="isAuthenticated">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Login page: solo el router-outlet directamente -->
<router-outlet *ngIf="isLoginPage"></router-outlet>
