/* You can add global styles to this file, and also import other style files */
/* styles.scss */

/* Definir el fondo global para todo el body */
body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}
